.weatherDetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.detailBox {
    padding: 15px 8px;
    text-align: center;
}

.detailIcon {
    font-size: 25px;
}

.detailTitle {
    color: #64748b;
    font-size: 13px;
    margin: 5px 0;
}

.detailValue {
    color: #0f172a;
    font-size: 15px;
    font-weight: 600;
}